name: 'Pre Commit'

on:
  push:
    branches:
    - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  pre-commit:
    name: 'pre-commit'
    runs-on: ubuntu-20.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - uses: actions/setup-python@v4

    - name: 'asdf:install'
      uses: asdf-vm/actions/install@v3.0.0

    - name: Check modules
      uses: pre-commit/action@v3.0.0
      with:
        extra_args: --show-diff-on-failure --all-files

